<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Raaka aineet</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        
        
        <h2>Lisaa uusi raaka aine</h2>
        
        <form method="POST" action="/ainekset">
            Raaka aineen nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisaa raaka-aine"/>
        </form>
        
        
        <h3>Raaka aine lista</h3>
        
        <ul>
            <li th:each="raakaAine : ${ainekset}">
                <div>
                    <span th:text="${raakaAine.nimi}">raakaAine</span>
                    <a th:href="@{~/ainekset/{id}/delete(id=${raakaAine.id})}">(delete)</a>
                </div>
            </li>
        </ul>
        
        <ul>
            <li>
                <a href="/">Kaikki smoothiet (Etusivu)</a>
            </li>
        </ul>
    </body>
</html>

