<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${annos.nimi}">Annos</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h2 th:text="${annos.nimi}">Annos</h2>
        
        <ul>
            <li th:each="raakaAine:${raakaAineet}">
                <span th:each="annosRaakaAine:${annosRaakaAineet}" 
                      th:if="${annosRaakaAine.raakaAineId} eq ${raakaAine.id}" 
                      th:text="'Raaka aine: ' + ${raakaAine.nimi} + ', ' + ${annosRaakaAine.maara} + ' kpl tai dl, Ohje: ' + ${annosRaakaAine.ohje}">Ainesosan nimi,määrä ja ohje</span>
            </li>
        </ul>
        
        <ul>
            <li>
                <a href="/">Kaikki smoothiet (Etusivu)</a>
            </li>
        </ul>
    </body>
</html>



